[user]
	name = liz
	email = liz@heptio.com
	signingkey = C4A02586
[push]
	default = simple
[core]
	autocrlf = false
	filemode = false
	excludesfile = /home/liz/.gitignore_global
[branch]
	autosetuprebase = always
[alias]
	shipit = push production master
[include]
	path = /Users/liz/.gitconfig_private
[commit]
	gpgsign = true
