[user]
	name = liz
	email = liz@heptio.com
[push]
	default = simple
[core]
	autocrlf = false
	filemode = false
	excludesfile = /home/liz/.gitignore_global
[branch]
	autosetuprebase = always
[alias]
	shipit = push production master
