vt.geometry: 400x30 
URxvt.buffered: true
URxvt.background: black
URxvt.foreground: white 
URxvt.cursorColor: white
URxvt.underlineColor: white
URxvt.font:xft:inconsolata:pixelsize=14:antialias=true
URxvt*termName: rxvt-unicode


URxvt.scrollBar:false
URxvt.iso14755:false
!------------
!True Transparency
!------------
!set to 32-bit for real transparency (compositing required (see xcompmgr)
!urxvt*depth:             32
!transparent=0000 opaque=ffff
!urxvt*background: rgba:1111/1111/1111/dddd
!urxvt*background: rgba:1111/1111/1111/0000


!------------------
!False tranparency
!------------------
URxvt.transparent: true
URxvt.shading: 25 

URxvt.secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*urgentOnBell: true
URxvt*visualBell: true
